body{
	background-color:#f2f2f2;
	font-family: Tahoma;
}

h2{
	background-color: #666;
	color:#fff;
	text-align: center;
	padding: 5px;
}
/*=================DIVS=======================*/

.cleaner{
	clear: both;
}

.content{
width:700px;
height:60px;
margin:0 auto;
}

.content-gl{
width:960px;
height:100px;
margin:0 auto;
}

/*=================MENU=======================*/

.menu{
	list-style: none;
	margin: 50px 0 0 50px;
	padding: 0;
}

.menu li{
	width: 100px;
	height: 30px;
	float: left;
	margin-right: 10px;
}

.menu li a{
	display: block;
	background-color: #FF8000;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	text-decoration: none;
	color:#000;
	transition:
		background-color 0.25s,
		color 1s,
		border-radius 1s ease-out;
	-webkit-transition:
		background-color 0.25s,
		color 1s,
		-webkit-border-radius 1s ease-out;
}
.menu li a:hover{
	background-color: #0080C0;
	color:#fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
}




/*=================GALERIA=======================*/

.galeria{
	list-style: none;
	margin:50px 0;
	padding: 0;
}
.galeria li{
	width: 100px;
	height: 100px;
	border:solid 5px #666;
	background-color: #C0C0C0;
	text-align: center;
	line-height: 100px;
	float: left;
	margin-right: 20px;
	transition:all 3s;
	-webkit-transition:all 0.3s;
}
.galeria li:hover{
	transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #FF8000;
	box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
}

/*=================CAJA=======================*/

.caja{
	width: 500px;
	height: 300px;
	padding: 10px;
	background-color: #408080;
	border:solid 5px #666; 
	margin:50px auto;
	color:#fff;
	transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
}
.caja:hover{
	background-color: #FF00FF;
	width: 250px;
	height: 150px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	border-color:#ff0000; 
}